* {
  box-sizing: border-box;
}
.none {
  display: none;
}
body {
  height: 100vh;
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  color: #333333;
  font-weight: 400;

  display: flex;
  flex-direction: column;
}
/* header */
.header {
  position: relative;
  z-index: 1;
  background-image: url("./img/background-header.png");
  background-size: 100%;
}
.container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 0px;
}
.wrapper {
  width: 1110px;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
}
.logo {
  min-width: 173px;
  height: 29px;
  display: flex;
  align-items: center;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.logo a {
  text-decoration: none;
  color: #333333;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 28px;
  row-gap: 8px;
  margin: 0;
}
.nav-list-item {
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.nav-list-item a {
  text-decoration: none;
  color: #333333;
}
.nav-list-item a:hover {
  color: rgba(0, 191, 120, 1);
}
.contacts {
  min-width: 167px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.number {
  font-weight: 500;
  font-size: 18px;
  line-height: 14px;
  margin-bottom: 8px;
}
.time {
  font-size: 11px;
  line-height: 14px;
}
.some {
  min-height: 524px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col1 {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title {
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
}
.col1 p {
  font-size: 20px;
  line-height: 24px;
}
.btn {
  margin-top: 60px;
  padding: 17px 30px;
  background: #fb9475;
  color: #fff;
  border: none;
  border-radius: 24px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}
.girl {
  position: absolute;
  bottom: 0;
  right: 60px;
  z-index: 2;
}
.girl::before {
  position: absolute;
  left: 58px;
  top: 143px;
  z-index: 0;
  content: "";
  width: 472px;
  height: 472px;
  border-radius: 50%;
  background-color: #fb9475;
}
.girl img {
  position: relative;
  display: block;
}
.col3 {
  display: flex;
  flex-direction: column;
  width: 32px;
  height: 32px;
}
.icon {
  margin-bottom: 16px;
  cursor: pointer;
}

/* Main */
main {
  padding-bottom: 100px;
  background-color: #fff;
  z-index: 10;
  width: 1110px;
  margin: 0 auto;
}
.main-information {
  margin-bottom: 100px;
  padding: 10px 10px 0 10px;
}
.container-for-about {
  display: flex;
  justify-content: space-between;
}
.col-1 {
  max-width: 570px;
}
.definition {
  font-size: 20px;
  line-height: 32px;
}
.description {
  max-width: 540px;
  font-size: 16px;
  line-height: 26px;
}
.col-2 {
  display: flex;
  background-image: url("./img/video.png");
  background-repeat: no-repeat;
  margin-top: 80px;
}
.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 445px;
}
.description-white {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

.advantages {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
}
.advantages__img {
}
.advantages__title {
  margin: 28px 0 12px;
  font-size: 18px;
  line-height: 22px;
}
.advantages__description {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  padding: 0 37.5px;
}

/* footer */

.footer {
  width: 1110px;
  margin: 100px auto 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  margin-top: auto;
}
.footer__col {
  display: flex;
  flex-direction: column;
}
.footer__text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 8px 0;
}
.footer__link {
  list-style-type: none;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}
.footer__link--blue {
  color: #278aff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 28px;
  row-gap: 8px;
}
