* {
  box-sizing: border-box;
}
.none {
  display: none;
}
.link a{
  text-decoration: none;
  color: #333333;
}
li{
  list-style: none;
}
ul{
  padding: 0;
}
p,h1, h2, h3{
  margin: 0;
}
body {
  height: 100vh;
  
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  color: #333333;
  font-weight: 400;

  display: flex;
  flex-direction: column;
}
.section{
  max-width: 1110px;
  margin: 0 auto;
}
.title--big{
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
}
.btn{
  width: 112px;
  height: 34px;
  background: #fb9475;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 17px;
  font-weight: 500;
  line-height: 14px;
}
.btn--large{
  width: 203px;
  height: 48px;
  margin-top: 60px;
  padding: 17px 30px;
  border-radius: 24px;
  font-size: 14px;
}
/* header */
.header {
  z-index: 1;
  background-image: url("./img/background-header.png")  ;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 0px;
}
.logo {
  min-width: 173px;
  height: 29px;
  display: flex;
  align-items: center;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.logo a {
  text-decoration: none;
  color: #333333;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 28px;
  row-gap: 8px;
  margin: 0;
}
.nav__item {
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.nav__item a {
  text-decoration: none;
  color: #333333;
}
.nav__item a:hover {
  color: rgba(0, 191, 120, 1);
}
.contacts {
  min-width: 167px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.contacts__number {
  font-weight: 500;
  font-size: 18px;
  line-height: 14px;
  margin-bottom: 8px;
}
.contacts__time {
  font-size: 11px;
  line-height: 14px;
}
.hero {
  min-height: 524px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__col1 {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero__title {
  margin-bottom: 17px;
}
.hero__col1 p {
  font-size: 20px;
  line-height: 24px;
}

.girl {
  position: absolute;
  bottom: 0;
  right: 60px;
  z-index: 2;
}
.girl::before {
  position: absolute;
  left: 58px;
  top: 143px;
  z-index: 0;
  content: "";
  width: 472px;
  height: 472px;
  border-radius: 50%;
  background-color: #fb9475;
}
.girl img {
  position: relative;
  display: block;
  max-width: 524px;
  max-height: 510px;
}
.social-list {
  display: flex;
  flex-direction: column;
  width: 32px;
  height: 32px;
}
.social-list__icon {
  margin-bottom: 16px;
  cursor: pointer;
}

/* Main */
main {
  padding-bottom: 100px;
  background-color: #fff;
  z-index: 10;
  width: 100vw;
  margin: 0 auto;
}
.main-information {
  margin-bottom: 100px;
}
.container-for-about {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.col-1 {
  max-width: 570px;
}
.main-information__title{
  margin-bottom: 32px;
}
.main-information__definition {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 16px;
}
.main-information__description {
  max-width: 540px;
  font-size: 16px;
  line-height: 26px;
}
.col-2 {
  display: flex;
}
.main-information__video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 445px;
  max-width: 445px;
  max-height: 296px;
  border-radius: 8px;
  background-image: url("./img/video.png");
  background-repeat: no-repeat;
  margin-top: 80px;
  border-radius: 8px;
}
.main-information__description-white {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}
.advantages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
}
.advantages__title {
  margin: 28px 0 12px;
  font-size: 18px;
  line-height: 22px;
}
.advantages__description {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  padding: 0 37.5px;
}

/* footer */
.footer__container{
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer__col {
  display: flex;
  flex-direction: column;
}
.footer__text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 8px 0;
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 28px;
  row-gap: 8px;
}
.footer__link {
  list-style-type: none;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}
.footer__link--blue {
  color: #278aff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

