* {
  box-sizing: border-box;
}
.none {
  display: none;
}
a {
  text-decoration: none;
  color: #333333;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
html,
body {
  height: 100vh;
  width: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  color: #333333;
  font-weight: 400;

  display: flex;
  flex-direction: column;
}
.section {
  max-width: 1110px;
  margin: 0 auto;
}
.title--big {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
}
.btn {
  min-width: 112px;
  height: 34px;
  background: #fb9475;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 17px;
  font-weight: 500;
  line-height: 14px;
}
.btn--large {
  min-width: 203px;
  height: 48px;
  margin-top: 60px;
  padding: 17px 30px;
  border-radius: 24px;
  font-size: 14px;
}
.burger{
  margin-left: 10px;
  display: none;
}
/* header */
.header {
  z-index: 1;
  background-image: url("../img/background-header.png");
  background-size: cover;

  &__container {
    position: relative;
    padding: 30px 10px 0;
  }
  &-row {
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    min-width: 173px;
    height: 29px;
    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
  .logo a {
    text-decoration: none;
    color: #333333;
  }
  .nav {
    &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 28px;
      row-gap: 8px;
      margin: 0;
    }
    &__item {
      list-style-type: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }
    &__item a {
      text-decoration: none;
      color: #333333;
    }
    &__item a:hover {
      color: rgba(0, 191, 120, 1);
    }
  }

  .contacts {
    min-width: 167px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__number {
      font-weight: 500;
      font-size: 18px;
      line-height: 14px;
      margin-bottom: 8px;
    }
    &__time {
      font-size: 11px;
      line-height: 14px;
    }
  }

  .hero {
    min-height: 524px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__info {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__title {
      margin-bottom: 17px;
    }
    &__col1 p {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .girl {
    position: absolute;
    bottom: 0;
    right: 60px;
    z-index: 2;

    &::before {
      position: absolute;
      left: 58px;
      top: 143px;
      z-index: 0;
      content: "";
      width: 472px;
      height: 472px;
      border-radius: 50%;
      background-color: #fb9475;
    }
    & img {
      position: relative;
      display: block;
      max-width: 524px;
      max-height: 510px;
    }
  }

  .social-list {
    display: flex;
    flex-direction: column;
    width: 32px;
    height: 32px;

    &__icon {
      margin-bottom: 16px;
      cursor: point;
    }
  }
}

/* Main */
main {
  background-color: #fff;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
}
.main-information {
  margin-bottom: 100px;

  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }
  &__info {
    max-width: 570px;
  }
  &__title {
    margin-bottom: 32px;
  }
  &__definition {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  &__description {
    max-width: 540px;
    font-size: 16px;
    line-height: 26px;
  }
  &__container-video {
    display: flex;
  }
  &__video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 445px;
    max-width: 445px;
    max-height: 296px;
    border-radius: 8px;
    background-image: url("../img/video.png");
    background-repeat: no-repeat;
    margin-top: 80px;
    border-radius: 8px;
  }
  &__description-white {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
  }
}
/* advantages */
.advantages {
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
  }
  &__title {
    margin: 28px 0 12px;
    font-size: 18px;
    line-height: 22px;
  }
  &__description {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    padding: 0 37.5px;
  }
}

/* popular service */
.popular-services {
  padding: 0 2px;
  margin-bottom: 100px;

  &__title {
    margin-bottom: 32px;
  }
  &__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 48px;
  }
  &__item {
    max-width: 350px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
}

.card-services {
  &__img {
    margin-bottom: 20px;
  }
  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 8px 0;
  }
  &__description {
    font-size: 12px;
    line-height: 20px;
    margin: 0 0 16px 0;
    max-width: 340px;
  }
  &__btn {
    align-self: flex-start;
  }
}

/*masters*/
.back {
  width: 100%;
  background-color: #f8f6f7;
  padding: 80px 0;
  margin-bottom: 100px;
}
.masters {
  &__title {
    margin-bottom: 32px;
  }
  &__description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    padding: 0;
  }
  &__item {
    list-style-type: none;
  }
  &__link {
    display: flex;
    align-self: center;
    border-radius: 8px;
    min-width: 255px;
    height: 300px;
    margin-bottom: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  &__link--1 {
    background-image: url(../img/masters/1.png);
  }
  &__link--2 {
    background-image: url(../img/masters/2.png);
  }
  &__link--3 {
    background-image: url(../img/masters/3.png);
  }
  &__link--4 {
    background-image: url(../img/masters/4.png);
  }
  &__link--1:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/masters/1.png);
  }
  &__link--2:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/masters/2.png);
  }
  &__link--3:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/masters/3.png);
  }
  &__link--4:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/masters/4.png);
  }
  &__link:hover {
    color: #fff;
  }
  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
  }
  &__profession {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
  }
  &__experience {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
}

/* footer */
.footer {
  margin-top: auto;

  &__container {
    max-width: 1110px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-between;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__text {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 8px 0;
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 28px;
    row-gap: 8px;
  }
  &__link {
    list-style-type: none;
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
  }
  &__link--blue {
    color: #278aff;
    text-decoration-line: underline;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
