@media (max-width: 992px) {
  .section {
    max-width: 910px;
  }
  .header__container {
    padding: 10px 10px 0;
  }
  .hero__title {
    font-size: 38px;
  }
  .logo {
    margin-right: 10px;
  }
  .nav__list {
    column-gap: 24px;
  }
  .hero {
    max-width: 900px;
  }
  .hero__info {
    max-width: 380px;
  }
  .main-information__info {
    max-width: 470px;
  }
  .main-information__video {
    min-width: 350px;
    max-width: 350px;
  }
  .advantages__item {
    max-width: 280px;
  }
  .advantages__item {
    max-width: 280px;
  }
  .card-services__img {
    max-width: 280px;
  }
  .card-services__description {
    max-width: 260px;
  }
  .price-haircuts__item {
    min-width: 40%;
  }
}
@media (max-width: 768px) {
  .logo {
    margin-right: 10px;
  }
  .section {
    max-width: 700px;
  }
  .header__hero {
    justify-content: center;
  }
  .hero__info {
    max-width: 400px;
  }
  .girl {
    display: none;
  }
  .nav__list {
    column-gap: 4px;
  }
  .main-information__video {
    min-width: 100%;
  }
  .price-haircuts__item {
    min-width: 100%;
  }
  .main-information__container {
    flex-direction: column;
    align-items: center;
  }
  .main-information__info {
    max-width: 570px;
  }
  .main-information__video {
    min-width: 445px;
    max-width: 445px;
    min-height: 296px;
  }
  .advantages__item {
    max-width: 212px;
  }
  .advantages__item {
    max-width: 212px;
  }
  .advantages__description {
    padding: 0;
  }
  .advantages__title {
    text-align: center;
  }
  .card-services__img {
    max-width: 320px;
  }
  .card-services__description {
    max-width: 300px;
  }
  .masters__list {
    justify-content: space-around;
  }
}

@media (max-width: 480px) {
  .main-information__container {
    flex-wrap: wrap;
  }
  .section {
    max-width: 400px;
  }
  .logo {
    margin-top: 10px;
  }
  .header-row {
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .nav__list {
    justify-content: flex-start;
    column-gap: 14px;
    margin-bottom: 10px;
  }
  .hero {
    min-height: 100%;
    padding: 20px 0;
  }
  .contacts {
    align-items: flex-start;
  }
  .main-information__video {
    min-width: 345px;
    max-width: 345px;
  }
  .advantages {
    justify-content: center;
    margin-bottom: 50px;
  }
  .popular-services {
    margin-bottom: 50px;
  }
  .title--big {
    font-size: 34px;
    margin-bottom: 10px;
  }
  .popular-services__list {
    justify-content: center;
  }
  .back {
    padding: 40px 0;
  }
  .main {
    padding: 0;
  }
  .footer__info {
    margin-right: 10px;
  }
}
@media (max-width: 320px) {
  .section {
    max-width: 245px;
  }
  .header-row {
    padding: 10px;
  }
  .nav__list {
    column-gap: 8px;
    justify-content: flex-start;
  }
  .card-services__img {
    max-width: 220px;
  }
  .title--big {
    font-size: 20px;
    line-height: 20px;
  }
  .hero {
    flex-direction: column;
    padding: 10px;
  }
  .social-list {
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }
  .btn--large {
    margin-top: 10px;
    max-width: 190px;
  }
  .main-information__video {
    min-width: 245px;
    max-width: 245px;
  }
  .main-information__definition {
    font-size: 16px;
  }
  .main-information__description {
    font-size: 12px;
  }
  .price__link-list {
    flex-direction: column;
    margin: 16px 0;
  }
  .price-haircuts__price {
    white-space: nowrap;
  }
  .footer{
    padding: 10px 0 0 0;
  }
}
